<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset=" UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Boot V15 Thymeleaf</title>
</head>

<body>
    <a href="openProfile">Open Profile page</a>
    <br><br>
    <a href="openConditional">Open Conditional page</a>
    <br><br>
    <a href="openLooping">Open Looping Page</a>
	<br /><br />
	<img src="/images/Thymeleaf_Attributes.png" width="720px" alt="Use Full Thymeleaf Attributes" />
	<img src="/images/Thymeleaf_Expressions.png" width="720px" alt="Use Full Thymeleaf Expressions" />
</body>

</html>