.progress-bar-container{
   width: 100%;
   height: 4px;
   background-color: white;
   border-radius: 4px;
   overflow: hidden;
   opacity: 0.5;
   transition: opacity .3 ease-out;
   margin: 3rem 0.2rem;
}

.progress-bar-container .active-story {
   opacity: 1;
}

.progress-bar {
   height: 100%;
   background-color: rgb(57, 57, 255);
   border-radius: 4px;
}