.container,
.container1,
.container2 {
  display: flex;
  flex-direction: row; /* column */
  justify-content: center;
  align-items: center;
}

.container1, .container2 {
  box-sizing: border-box;
  border-radius: 65px;
  margin: -3px;
  padding: 5px;
  border: 1px solid red;
  border-left: none;
  border-right: none;
}

.bulb {
  fill: gold;
}

#bulb1, #bulb2 {
  border: 1px solid red;
  border-radius: 65px;
  padding: 0px 13px;
}
