<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="spring06.constructor.beans.Address" id="addrId">
        <constructor-arg value="218"/>
        <constructor-arg value="Rajkot"/>
        <constructor-arg value="360001"/>
    </bean>
    <bean class="spring06.constructor.beans.Student" id="stdId">
        <constructor-arg value="Vishal"/>
        <constructor-arg value="08"/>
        <constructor-arg ref="addrId"/> <!-- reference -->
    </bean>
</beans>