<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean class="org.example.bean.Student" id="stdId">
        <property name="name" value="Vishal"></property>
        <property name="rollNumber" value="8"></property>
        <property name="address" value="431f"></property>
    </bean>
</beans>