* {
    border: 1px solid red;
}

#main {
    margin: 2px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.color {
    margin: 0px 25px;
    padding-bottom: 8px;
    height: 50px;
    border-radius: 5px;
}

.join {
    text-align: center;
    font-size: larger;
    font-weight: bold;
}

#green {
    background-color: rgb(34, 181, 34);
}

#violet {
    background-color: rgb(207, 32, 207);
}

#red {
    background-color: rgb(221, 84, 43);
}